{% extends 'ticketing/page-Base_list.html' %}

{% block page-title %}
    تغییر پسوورد
{% endblock %}
{% block page-nav-name %}
    تغییر پسوورد
{% endblock %}
{% block main-content %}
    <div class="row d-flex justify-content-center">
        <form class="form-row m-3 rounded row col-10 bg-light d-flex" method="POST" action="">
            {% csrf_token %}
            <label for="{{ password.old_password.id_for_label }}" class="col-1 my-3">
                {{ password.old_password.label }} :
            </label>
            <div class="col-2 my-2 mx-3">
                {{ password.old_password }}
                {{ password.old_password.errors }}
            </div>
            <label for="{{ password.new_password1.id_for_label }}" class="col-1 my-3">
                {{ password.new_password1.label }} :
            </label>
            <div class="col-2 my-2 mx-3">
                {{ password.new_password1 }}
                {{ password.new_password1.errors }}
            </div>
            <label for="{{ password.new_password2.id_for_label }}" class="col-1 my-3">
                {{ password.new_password2.label }} :
            </label>
            <div class="col-3 my-2 mx-1">
                {{ password.new_password2 }}
                {{ password.new_password2.errors }}
            </div>
            <button class="btn btn-success col-3 m-4" >ذخیره</button>
        </form>
    </div>
{% endblock %}

<div class="modal"